<div class="container">
  <h1>Ejercicio de Angular</h1>
  <button type="button" mat-raised-button color="primary" class="button"
    (click)="ocultarTabla()">{{ocultar ? "Ocultar" : "Mostrar"}}</button>
  <table *ngIf="ocultar" class="table">
    <tr class="table-header">
      <th class="header__item">Nombre</th>
      <th class="header__item">Precio</th>
    </tr>
    <tr *ngFor="let product of productsList" class="table-row">
      <td class="table-data">{{product.title}}</td>
      <td class="table-data">{{product.price}}</td>
    </tr>
  </table>

</div>
